* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 220, 200);
    text-align: center;
}

h1 {
    color: brown;
    text-align: center;
    border: 50cap;
}